
.rainbow {
    background-image: linear-gradient(to left, rgb(184, 161, 184), rgba(105, 59, 138, 0.722), rgb(127, 204, 245), rgb(110, 230, 168), rgb(214, 220, 98), rgb(255, 202, 104), rgb(247, 151, 151));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

.rainbow-bckgd {
  background-image: linear-gradient(to left, rgb(184, 161, 184), rgba(105, 59, 138, 0.722), rgb(127, 204, 245), rgb(110, 230, 168), rgb(214, 220, 98), rgb(255, 202, 104), rgb(247, 151, 151));
}

.hide {
  display:none;
}

.show {
  display:block;
}

.iframe-container{
  position: relative;
  width: 100%;
  padding-bottom: 56%; 
  height: 0;
}
.iframe-container iframe{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) { 
  .iframe-container-music{
    position: relative;
    width: 100%;
    padding-bottom: 15%; 
    height: 0;
  }
  .iframe-container-music iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) { 
  .iframe-container-music2{
    position: relative;
    width: 100%;
    padding-bottom: 56%; 
    height: 0;
  }
  .iframe-container-music2 iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
@media (max-width: 768px) { 
  .iframe-container-music3{
    position: relative;
    width: 100%;
    padding-bottom: 56%;
    margin-left: -100px; 
    height: 0;
  }
  .iframe-container-music3 iframe{
    position: absolute;
    top:0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

@media (max-width: 768px) { 
  .image-del {
 display: none;
  }
}

/* based on https://codepen.io/sedran/pen/GYPevV  - kana-title*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

:root{
    --bg-color: dimgray;
}

.kana-title body {
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background-color: var(--bg-color);
  font-family: ヒラギノ角ゴ Pro W3, Hiragino Kaku Gothic Pro,Osaka, メイリオ, Meiryo, ＭＳ Ｐゴシック, MS PGothic, sans-serif;
}

.kana-title h4{
    font-size: 3em;
    font-weight: normal;
    margin-left: 20px; 
    margin-top: 20px; 
    font-style: italic;
}
.kana-title h3{
  font-size: 3em;
  font-weight: normal;
  margin-left: 20px; 
  margin-top: 20px; 
  font-style: italic;
}

/* title styles */
.kana-title span{
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
}

.kana-title span::after{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to left, rgb(184, 161, 184), rgba(105, 59, 138, 0.722), rgb(127, 204, 245), rgb(110, 230, 168), rgb(214, 220, 98), rgb(255, 202, 104), rgb(247, 151, 151));
    animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(-101%);
}

.kana-title span::before{
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
    transform: translateX(0);
}

.kana-title span:nth-of-type(1)::before,
.kana-title span:nth-of-type(1)::after{
    animation-delay: 1s;
}

.kana-title span:nth-of-type(2)::before,
.kana-title span:nth-of-type(2)::after{
    animation-delay: 1.5s;
}

@keyframes a-ltr-after{
    0% {transform: translateX(-100%)}
    100% {transform: translateX(101%)}
}

@keyframes a-ltr-before{
    0% {transform: translateX(0)}
    100% {transform: translateX(200%)}
}

.hearts {
  background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAECAYAAACp8Z5+AAAAAXNSR0IArs4c6QAAABJJREFUCB1jYGBg+A/ExAHsKgFV7gH/ssPq5wAAAABJRU5ErkJggg==);
}